$sideBarOffsetWidth: 250px;
// 200px + left 24px + right 30px
// $sideBarWidth: 260px;
$sideBarWidth: 300px;

// 共享渐变颜色
$red: #f47197, #f58f6c;
$green: #2ccf9f, #13b5b1;
$orange: #f5833e, #f79740;
$blue: #4598fb, #6cb1fc;
$purple: #a362fa, #5e6bfa;
$yellow: #ffd73d, #ffc241;
$deepred: #fc6a75, #f13846;
